
alias ll='ls -alrt'

alias gs='git status'
alias gap='git add -p'
alias ga='git add -A'
alias gco='git checkout'
alias gp='git push'
alias gc='git commit'
alias gd='git diff'
alias ..='cd ..'
alias dc='docker-compose'
alias be='bundle exec'
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias fix='$EDITOR `git diff --name-only | uniq`'

